*{
    margin : 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Bangers' , cursive;
    font-family: 'Bangers' , cursive;
}
#canvas-container{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 750px;
    height: 900px;
}
#canvas1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: cneter;
    align-items:center;

}
.images{
    display:none;
}